<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower store</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/profileCustomer.css">
    <link rel="stylesheet" href="../../MDB5-STANDARD-UI-KIT-Free-9.2.0 (1)/css/mdb.min.css">
    <link rel="stylesheet" href="../../MDB5-STANDARD-UI-KIT-Free-9.2.0 (1)/css/mdb.rtl.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- MDB icon -->
    <i class="fa-brands fa-facebook"></i>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W8R4GL2');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NSBT6HTK');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="//cdn.hstatic.net/themes/200000846175/1001403720/14/favicon.png?v=245"
          type="image/x-icon" />
    <link rel="icon" href="//cdn.hstatic.net/themes/200000846175/1001403720/14/favicon.png?v=245" type="image/png" />
    <meta content='width=device-width,user-scalable=0' name='viewport' />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="revisit-after" content="1 day" />
    <title>La Vie Est Belle ( Flower & Gift) - La Vie Est Belle - Flower & Gift</title>

    <link rel="canonical" href="https://lavieestbelle.vn/" />
    <meta name="robots" content="index,follow,noodp">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="La Vie Est Belle ( Flower & Gift)" />
    <meta property="og:image"
          content="http://file.hstatic.net/200000846175/file/z5318389113228_bf05d1d394f756ddf038d8894726eb4c_cf4c6b6a880841b6b51d904a62b0035c.jpg" />
    <meta property="og:image"
          content="https://file.hstatic.net/200000846175/file/z5318389113228_bf05d1d394f756ddf038d8894726eb4c_cf4c6b6a880841b6b51d904a62b0035c.jpg" />
    <meta property="og:image:secure_url"
          content="https://file.hstatic.net/200000846175/file/z5318389113228_bf05d1d394f756ddf038d8894726eb4c_cf4c6b6a880841b6b51d904a62b0035c.jpg" />
    <meta property="og:image:secure_url"
          content="http://file.hstatic.net/200000846175/file/z5318389113228_bf05d1d394f756ddf038d8894726eb4c_cf4c6b6a880841b6b51d904a62b0035c.jpg" />
    <meta property="og:image:alt" content="La Vie Est Belle ( Flower &amp; Gift)" />
    <meta property="og:url" content="https://lavieestbelle.vn/" />
    <meta property="og:site_name" content="La Vie Est Belle - Flower & Gift" /><!-- Shop id asset -->
    <style>
        :root {
            --bg-soldout: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/hethang.png?v=245);
            --bgshop: #000000;
            --colorshop: #000000;
            --colorshophover: #212020;
            --bgfooter: #ffffff;
            --colorfooter: #000000;
            --colorbgmenumb: #ffffff;
            --colortextmenumb: #000000;
            --height-head: 72px;
            --bg-flashsale: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/bg-flashs-sale.jpg?v=245);
            --imgselect: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/ico-select.svg?v=245);
            --imgsort: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/sort-az.svg?v=245);
            --bgsubcribe: url('//cdn.hstatic.net/themes/200000846175/1001403720/14/modal-banner.jpg?v=245');
            --bg-filter: url('//cdn.hstatic.net/themes/200000846175/1001403720/14/filter.svg?v=245');
            --bg-google: url('//cdn.hstatic.net/themes/200000846175/1001403720/14/google-plus.png?v=245');
            --bg-facebook: url('//cdn.hstatic.net/themes/200000846175/1001403720/14/facebook.png?v=245');
            --heartpage: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/hearts-page.svg?v=245);
            --customer: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/customer-icon-service.svg?v=245);
            --cancel: url(//cdn.hstatic.net/themes/200000846175/1001403720/14/cancel-while.svg?v=245);
            --bg-footer: url(https://file.hstatic.net/200000397757/file/wd-footer-bg_bd337816b3d64003b9fa0ca6f4b8b3fa.png);

        }
    </style>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <link
            href="https://fonts.googleapis.com/css2?family=Crimson Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=fallback"
            as="style" type="text/css" rel="preload stylesheet">
    <link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/plugin-style.css?v=245" rel="preload stylesheet"
          as="style" type="text/css">
    <link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/styles-new.scss.css?v=245" rel="preload stylesheet"
          as="style" type="text/css">
    <link rel="preload" as="image" href="//cdn.hstatic.net/themes/200000846175/1001403720/14/logo.png?v=245">
    <link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/styles-index.scss.css?v=245"
          rel="preload stylesheet" as="style" type="text/css">
    <link rel="preload" as="image"
          href="//cdn.hstatic.net/themes/200000846175/1001403720/14/slideshow_1_mob_large.jpg?v=245"
          media="(max-width: 480px)">
    <link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/jquery-script.js?v=245" rel="preload" as="script"
          type="text/javascript">
    <link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/main-scripts.js?v=245" rel="preload" as="script"
          type="text/javascript">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript"
            src="//cdn.hstatic.net/themes/200000846175/1001403720/14/jquery-script.js?v=245"></script>
    <!-- Tất cả biến khởi tạo, check sử dụng-->
    <script>
        localStorage.setItem('shop_id', 'themes/200000846175/1001403720');
        const tbag_varible = {
            template: 'index',
            navLeftText: '<button class="slick-prev slick-arrow custom-style" aria-label="Previous"><span class="arrow-custom arrow-left"><div class="arrow-top"></div><div class="arrow-bottom"></div></span></button>',
            navRightText: '<button class="slick-next slick-arrow custom-style" aria-label="Next"><span class="arrow-custom arrow-right"><div class="arrow-top"></div><div class="arrow-bottom"></div></span></button>',
            checklocation: "false",
            checkproducthot: "true",
            checkproductrelated: "true",
            checkproductseen: "false",
            heartactive: "//cdn.hstatic.net/themes/200000846175/1001403720/14/heart-fill.svg?v=245",
            addtocart: "//cdn.hstatic.net/themes/200000846175/1001403720/14/add-to-cart.svg?v=245",
            heart: "//cdn.hstatic.net/themes/200000846175/1001403720/14/heart.svg?v=245",
            sgnotify: "false",
            recaptchajs: "https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-",
            jsonmap: "https://file.hstatic.net/200000397757/file/hethongcuahang_f1ee212eddc04706b09d43518b50a964.json",
            typepaginate: "default",
            typeimage: false,
            trash: "//cdn.hstatic.net/themes/200000846175/1001403720/14/trash.svg?v=245",
            cancel: "//cdn.hstatic.net/themes/200000846175/1001403720/14/cancel.svg?v=245",
            productjson: { "error": "json not allowed for this object" },
            producthandle: "",
            typerelated: "type",
            vendorurl: "/collections/vendors?q=&view=related-product",
            typeurl: "/collections/types?q=&view=related-product",
            sortbydefault: ""
        }
        const formatMoney = '{{amount}} VND', _0x2c0xa = ["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65", "\x69\x6E\x64\x65\x78\x4F\x66", "\x75\x73\x65\x72\x41\x67\x65\x6E\x74", "\x6C\x6F\x61\x64"];
        function getScriptCcd(url, callback) { $.ajax({ type: "GET", url: url, success: callback, dataType: "script", cache: true }); }
        function getdatasite(url, callback, slider) { $.ajax({ type: "GET", url: url, success: function (data) { callback.html(data) } }).done(() => { slider == 'true' ? Wanda.slidercallback() : '' }); }
        if (navigator[_0x2c0xa[2]][_0x2c0xa[1]](_0x2c0xa[0]) == -1) {
            $(function () {
                const resultcss = `<link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/render-after.scss.css?v=245" rel="preload stylesheet" as="style" type="text/css"><link href="//cdn.hstatic.net/themes/200000846175/1001403720/14/owl-carousel_modal.css?v=245" rel="preload stylesheet" as="style" type="text/css">`;
                $('head').append(resultcss);
            });
            $(window).load(() => { getScriptCcd(tbag_varible.recaptchajs); })
        }
        if ((typeof Haravan) === 'undefined') { Haravan = {}; }
        Haravan.shop = 'lavieestbelle.vn';
        const tbag_radom = {
            item: ["peachy", "lovely-hue", "chic-petals", "pearl-bloom", "honey-ball", "classic-charm", "fresh-mood", "tulip-muse-1"],
            name: [],
            time: ["20 phút trước", "2 giờ trước", "15 phút trước", "8 phút trước", "35 phút trước", "14 phút trước", "3 giờ trước", "1 giờ trước"]
        };
    </script>
    <script type='text/javascript'>
        //<![CDATA[
        if ((typeof Haravan) === 'undefined') {
            Haravan = {};
        }
        Haravan.culture = 'vi-VN';
        Haravan.shop = 'lavieestbelle.myharavan.com';
        Haravan.theme = { "name": "Customize Lavieestbelle", "id": 1001403720, "role": "main" };
        Haravan.domain = 'lavieestbelle.vn';
        //]]>
    </script>
    <script defer src='https://stats.hstatic.net/beacon.min.js' hrv-beacon-t='200000846175'></script>
    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
    <script type='text/javascript'>
        window.HaravanAnalytics = window.HaravanAnalytics || {};
        window.HaravanAnalytics.meta = window.HaravanAnalytics.meta || {};
        window.HaravanAnalytics.meta.currency = 'VND';
        var meta = { "page": { "pageType": "home" } };
        for (var attr in meta) {
            window.HaravanAnalytics.meta[attr] = meta[attr];
        }
        window.HaravanAnalytics.AutoTrack = true;
    </script>
    <script>
        //<![CDATA[
        window.HaravanAnalytics.ga = "UA-000000000-1";
        window.HaravanAnalytics.enhancedEcommerce = false;
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', window.HaravanAnalytics.ga, 'auto', { allowLinker: true });
        ga('send', 'pageview'); ga('require', 'linker'); try {
            if (window.location.href.indexOf('checkouts') > -1) {
                var themeid = Haravan.theme.id;
                !function (e, t, n) { var a = t.getElementsByTagName(n)[0], c = t.createElement(n); c.async = false, c.src = "https://theme.hstatic.net/200000846175/" + themeid + "/14/main-tracking.js?v=" + (new Date).getTime(), a.parentNode.insertBefore(c, a) }(window, document, "script");
            }
        } catch (e) { };
        //]]>
    </script>
    <script
            type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"lavieestbelle.vn","url":"https://lavieestbelle.vn","potentialAction":{"@type":"SearchAction","target":"https://lavieestbelle.vn/search?&q={search_term_string}","query-input":"required name=search_term_string"}}</script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="components.js"></script>

</head>
<body>
<site-header></site-header>
<div class="container mb-4">
    <div class="row">
        <div class="col-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover" style="background-image: url('img/blush.jpg');"
                ><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i>&nbsp;290 points</a></div>
                <div class="author-card-profile">
                    <div class="author-card-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">Customer</h5><span class="author-card-position">Tham gia từ tháng 10 năm 2025</span>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item active" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Lịch sử mua hàng</div>
                            </div><span class="badge badge-secondary">6</span>
                        </div>
                    </a><a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-profile-settings-page" target="__blank">
                    <i class="fa fa-user text-muted"></i>Cài đặt hồ sơ</a><a class="list-group-item" href="#"><i class="fa fa-map-marker text-muted"></i>Địa chỉ</a>
                    <a class="list-group-item" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Danh sách yêu thích</div>
                            </div><span class="badge badge-secondary">3</span>
                        </div>
                    </a>
                    <a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-account-tickets" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Tài khoản liên kết</div>
                            </div><span class="badge badge-secondary">4</span>
                        </div>
                    </a>
                </nav>
            </div>
        </div>
        <!-- Wishlist-->
        <div class="col-8 pb-5">
            <!-- Item-->
            <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="img\hoa 1.jpg" alt="Product"></div>
                        <div class="cart-item-product-info">
                            <h4 class="cart-item-product-title">Bó hoa Whimsy well </h4>
                            <div class="text-lg text-body font-weight-medium pb-1">910.000 VNĐ</div><span>Trạng thái: <span class="text-warning font-weight-medium">Đang giao</span></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Item-->
            <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="img\giỏ hoa.jpg" alt="Product"></div>
                        <div class="cart-item-product-info">
                            <h4 class="cart-item-product-title">Giỏ hoa Bliss charm</h4>
                            <div class="text-lg text-body font-weight-medium pb-1">1,450.000 VNĐ </div><span>Trạng thái: <span class="text-success font-weight-medium">Đã giao</span></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Item-->
            <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="img\hoa 2.jpg" alt="Product"></div>
                        <div class="cart-item-product-info">
                            <h4 class="cart-item-product-title">Hoa Tulip Everelle</h4>
                            <div class="text-lg text-body font-weight-medium pb-1">1.880.500 VNĐ</div><span>Trạng thái: <span class="text-success font-weight-medium">Đã giao</span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" checked="" id="inform-me">
                <label class="custom-control-label" for="inform-me">Inform me when item from my wishlist is available</label>
            </div>
        </div>
    </div>
</div>
<site-footer></site-footer>

</body>

</html>